* {
  margin: 0;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");

body {
  cursor: url("./images/cursor.png"), auto;
  font-family: 'Open Sans', sans-serif;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  align-items: center;
  background-color: blueviolet;
  justify-content: space-around;
  z-index: 10;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}

.redColor {
  color: red !important;
}